.container > section:last-child {
  margin-top: 1rem;
}

.container > section:last-child h2 {
  margin-bottom: 1rem;
}

.product .product-img {
  height: 120px;
  width: 120px;
  background-color: gray;
  border-radius: 0.75rem;
}

.product .product-img img {
  width: 100%;
  border-radius: 0.5rem;
}

#products {
  display: grid;
  grid-template-columns: 1fr; /* repeat(2, 1fr); */
  gap: 1.5rem;
}

.product {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px #a8998442;
}

.price {
  margin-top: 1rem;
}

.empty {
  font-size: 0.9rem;
  color: #a89984;
  text-align: center;
  grid-column: 1 / -1;
}

@media (min-width: 750px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .container > section:last-child {
    margin-left: 2rem;
    margin-top: 0;
  }
}
